.tweet-form {
  position: relative;
  border-bottom: 1px dashed var(--border-color);
  margin: var(--margin-bottom-sm);
}

.tweet-area {
  width: 24rem;
  height: 4rem;
  outline: none;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  overflow: scroll;
}

.tweet-area::placeholder {
  color: var(--unseleted-color);
  font-size: 1rem;
}

.tweet-area::-webkit-scrollbar {
  width: 10px;
}

.tweet-area::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.tweet-area::-webkit-scrollbar-track {
  background-color: var(--white-color);
  border-radius: 10px;
}

.tweet-file {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

#tweet-img {
  display: none;
}

.input-img-label {
  margin: 0.3rem;
}

.input-img {
  color: var(--placeholder-color);
  cursor: pointer;
}

.input-img:hover {
  color: var(--primary-color);
}

.btn-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.submit {
  color: var(--primary-color);
}

.attachment-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 24rem;
  height: 7rem;
  padding: 0.5rem;
  border: 1px dashed var(--border-color);
  border-radius: 3px;
}

.attachment-img {
  width: 9rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 1rem;
}

.btn-control {
  font-size: 0.8rem;
  border: none;
  outline: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.btn-cancel {
  background-color: var(--placeholder-color);
}

.btn-cancel:hover {
  background-color: var(--primary-color);
}

.visually-hidden {
  opacity: 0;
  display: absoulte;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
