.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white-color);
  margin-bottom: 1rem;
}

.Home::before {
  display: block;
  content: '';
  width: 100%;
  height: 4.5rem;
  background-color: var(--white-color);
}

.TweetList {
  padding: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--primary-color);
}

.icon__link {
  text-align: center;
}

.footer--link {
  color: var(--point-color);
}
