.Navigation-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  transform: translate(-10px, 5px);
  z-index: -2;
}

.Navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  font-weight: 400;
  height: 3.5rem;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin-left: 3px;
}

.link-item {
  color: var(--unseleted-color);
}

#home-item {
  color: var(--primary-color);
}

.Navigation-link:hover .link-item {
  color: var(--primary-color);
}

.Navigation-link:focus-within .link-item {
  color: var(--primary-color);
}

.Navigation-link:active .link-item {
  color: var(--primary-color);
}
