.Navigation {
  position: fixed;
  width: 25rem;
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
  z-index: 2;
}

.Navigation-box {
  height: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

@media screen and (max-width: 425px) {
  .Navigation-box {
    height: 4rem;
  }
}

.Navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--unselected-color);
}

.active {
  color: var(--primary-color);
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: auto;
}
