.Profile {
  position: relative;
  justify-content: flex-start;
}

.Profile-userContent {
  width: 24rem;
  height: 23%;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
}

.Profile-userImg {
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--point-color);
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.Profile-userText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Profile-userName {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.Profile-userBio {
  font-size: 0.9rem;
}
.btn-signOut {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

.label {
  font-size: 0.8rem;
}
